<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="OAuthConfiguration" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container name="DesktopView">
      <register type="API.Logging.ILogger, API" mapTo="Data.Logging.ConsoleLogger, Data" name="consoleLogger"/>
      <register type="API.Logging.ILogger, API" mapTo="Data.Logging.FileLogger, Data" name="fileLogger">
        <constructor>
          <param name="logFileName" value="log.txt" />
        </constructor>
      </register>
    </container>
  </unity>
  <OAuthConfiguration>
    <add key="ConsumerKey" value="consumerKey" />
    <add key="ConsumerSecret" value="consumerSecret" />
    <add key="AccessToken" value="accessToken" />
    <add key="AccessTokenSecret" value="accessTokenSecret" />
  </OAuthConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LinqToTwitter.net" publicKeyToken="957107be965c25d9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>